<PromoSection @image="promo-index.jpg" @specialHours={{false}}>
  <div class="row clearfix">
    <div class="col-md-12 col-lg-6">
      {{#if isDesktop}}
        <h1 class="promo-title">Welcome to The Butcher's Market<br>Meat &amp; Deli</h1>
        <p class="lead large">Small town service. Big city selection.</p>
      {{/if}}
      {{#if notDesktop}}
        <StoreHours @hours={{model.hours}} />
        <CafeHours @hours={{model.hours}} />
        <StoreLocation />
      {{/if}}
      <a href="https://www.facebook.com/thebutchersmarket" class="btn btn-secondary btn-lg">Like us on Facebook</a>
      {{#if isDesktop}}
        <StoreHours @hours={{model.hours}} />
        <CafeHours @hours={{model.hours}} />
        <StoreLocation />
      {{/if}}
    </div>
    {{!-- {{#if isDesktop}}
      <div class="col-md-12 col-lg-6">
        <IphoneCarousel as |Slide|>
          <Slide @src="images/iPhone-loyalty-club-1.jpg" @alt="Loyalty Club punch card" @active={{true}} />
          <Slide @src="images/iPhone-loyalty-club-2.jpg" @alt="Loyalty Club discount" />
          <Slide @src="images/iPhone-mobile-app.jpg" @alt="Butchers Market mobile app" />
        </IphoneCarousel>
      </div>
    {{/if}}
    {{#if notDesktop}}
      <div class="col-md-12 col-lg-6">
        <MobileApp />
      </div>
    {{/if}} --}}
  </div>
</PromoSection>


{{!-- <PromoSection class={{concat "butcher-promo-index " tacoSeasonClass}} @specialHours={{false}}>
  <div class="row clearfix">
    <div class="col-md-12 col-lg-6">
      {{#if isDesktop}}
        <h1 class="promo-title">Welcome to The Butcher's Market<br>Meat &amp; Deli</h1>
        <p class="lead large">Small town service. Big city selection.</p>
      {{/if}}
      {{#if notDesktop}}
        <StoreHours @hours={{model.hours}} />
        <CafeHours @hours={{model.hours}} />
        <StoreLocation />
      {{/if}}
      <a href="https://www.facebook.com/thebutchersmarket" class="btn btn-secondary btn-lg">Like us on Facebook</a>
      {{#if isDesktop}}
        <StoreHours @hours={{model.hours}} />
        <CafeHours @hours={{model.hours}} />
        <StoreLocation />
      {{/if}}
    </div>
    {{#if showTacoSeason}}
      <div class="col-md-12 col-lg-6">
        <div class="taco-season-countdown">
          <img src="images/taco-season-title.png" class="img-fluid taco-season-title" alt="Taco Season">
          {{#unless tacoSeasonArrived}}
            <CountdownTicker
              @date={{tacoSeasonDate}}
              @countdownText="Taco Season"
              @finishedText="Taco Season Has Arrived!"
            />
          {{/unless}}
          <div class="row">
            <div class="col-md-12 offset-lg-1 col-lg-10">
              {{#if isDesktop}}
                <p class="taco-season-tag">
                  Say goodbye to cold weather, chili, and stew... It’s time to bring back our tacos for you!
                </p>
              {{/if}}
              <p class="taco-season-tag">
                Tacos are back on the menu the first day of spring March 20th 2018!
              </p>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      {{#if isDesktop}}
        <div class="col-md-12 col-lg-6">
          <IphoneCarousel as |Slide|>
            <Slide @src="images/iPhone-loyalty-club-1.jpg" @alt="Loyalty Club punch card" @active={{true}} />
            <Slide @src="images/iPhone-loyalty-club-2.jpg" @alt="Loyalty Club discount" />
            <Slide @src="images/iPhone-mobile-app.jpg" @alt="Butchers Market mobile app" />
          </IphoneCarousel>
        </div>
      {{/if}}
      {{#if notDesktop}}
        <div class="col-md-12 col-lg-6">
          <MobileApp />
        </div>
      {{/if}}
    {{/if}}
  </div>
</PromoSection>

<div class="container">
  <HeaderTitle @title="Featured Specials" />
  <div class="row">
    {{#each featuredBundles as |bundle|}}
      <div class="col-sm-6 col-lg-3 feature-item">
        <BundleListItem @product={{bundle}} />
      </div>
    {{/each}}
    <div class="col-sm-6 col-lg-3 feature-item">
      <h5 class="feature-title">
        {{#link-to "meat" (query-params packages=true) class="btn btn-secondary btn-lg"}}
          View All Packages
        {{/link-to}}
      </h5>
      <p class="feature-item-description">We have a meat or grocery packages for every need and budget!</p>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <HeaderTitle @title="Who We Are" />
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="color-primary">Each interaction is unique.</h3>
        <p class="lead">Every customer is an individual and deserves service catered to their exact needs.</p>
        <p>We come to work everyday to supply that type of service &amp; and to be a part of our customer's lives for years to come!</p>
        <ul>
          <li>Custom cut meats</li>
          <li>Custom packaging</li>
          <li>Custom service</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<ProductsList @title="Our Meat Products" @products={{model.products}} />

<ReviewsList @title="Customer Reviews" @reviews={{model.reviews}} />

<NewsletterForm @page="index" />

<ContactSection /> --}}
