<Admin::BackLink @route="admin.index" @text="Admin" />

<Admin::Title @title="Meat Bundles" />

{{! Hiding the new button until it's needed }}
{{! <div class="mt-8">
  <UiButton @route="admin.meat-bundles.new" @icon="plus" @size="medium" @variant="plain">
    New
  </UiButton>
</div> }}

<Admin::UiTable class="mt-8" as |Table|>
  <Table.Head as |Thead|>
    <Thead.Th>Order</Thead.Th>
    <Thead.Th>Title</Thead.Th>
    <Thead.Th>Price</Thead.Th>
    <Thead.Th>Items</Thead.Th>
    <Thead.Th>Is Featured?</Thead.Th>
    <Thead.Th>Special Text</Thead.Th>
    <Thead.Th>Is Hidden?</Thead.Th>
    <Thead.Th />
  </Table.Head>
  <Table.Body as |Tbody|>
    {{#each (sort-by "displayOrder" this.model) as |bundle|}}
      <Tbody.Tr as |Row|>
        <Row.Td>{{bundle.displayOrder}}</Row.Td>
        <Row.Td>{{bundle.title}}</Row.Td>
        <Row.Td>{{bundle.price}}</Row.Td>
        <Row.Td>
          {{#if bundle.items}}
            {{bundle.items.length}}
            Items
          {{else}}
            0 Items
          {{/if}}
        </Row.Td>
        <Row.Td>
          {{#if bundle.featured}}
            <span class="inline-block px-2 bg-blue-200 text-blue-800 text-sm rounded">
              Featured
            </span>
          {{/if}}
        </Row.Td>
        <Row.Td>{{bundle.specialText}}</Row.Td>
        <Row.Td>
          {{#if bundle.isHidden}}
            <span class="inline-block px-2 bg-blue-200 text-blue-800 text-sm rounded">
              Hidden
            </span>
          {{/if}}
        </Row.Td>
        <Row.Td>
          <div class="flex justify-end">
            <UiButton
              @route="admin.meat-bundles.edit"
              @model={{bundle.id}}
              @iconOnly={{true}}
              @icon="pencil-alt"
              @variant="secondary"
            />

            {{! Hiding the delete button until it's needed }}
            {{!-- <UiButton
              class="ml-1"
              @iconOnly={{true}}
              @icon="trash-alt"
              @variant="danger"
              @onClick={{set this "bundleToDelete" bundle}}
            /> --}}
          </div>
        </Row.Td>
      </Tbody.Tr>
    {{else}}
      <Tbody.Empty>
        No meat bundles found.
      </Tbody.Empty>
    {{/each}}
  </Table.Body>
</Admin::UiTable>

{{outlet}}