<Admin::BackLink @route="admin.index" @text="Admin" />

<Admin::Title @title="Menu PDF" />

<Admin::UiTable class="mt-8" as |Table|>
  <Table.Head as |Thead|>
    <Thead.Th>Last Updated At</Thead.Th>
    <Thead.Th />
  </Table.Head>
  <Table.Body as |Tbody|>
    {{#each this.model as |menu|}}
      <Tbody.Tr as |Row|>
        <Row.Td>{{date-format menu.updatedAt "LL/dd/yyyy h:mma"}}</Row.Td>

        <Row.Td>
          <div class="flex justify-end">
            <UiButton
              @route="admin.menu.edit"
              @model={{menu.id}}
              @iconOnly={{true}}
              @icon="pencil-alt"
              @variant="secondary"
            />
          </div>
        </Row.Td>
      </Tbody.Tr>
    {{else}}
      <Tbody.Empty>
        No menus found.
      </Tbody.Empty>
    {{/each}}
  </Table.Body>
</Admin::UiTable>

{{outlet}}