<AdminTitle @title="Events" class="mb-5" />

<div class="mb-3">
  {{#link-to "admin.events.new" class="btn btn-secondary"}}
    {{fa-icon "plus"}}
    New
  {{/link-to}}

  <div class="btn-group float-right" role="group" aria-label="Event filters">
    <button
      type="button"
      class="btn btn-light {{this.upcomingClass}}"
      {{action "filterEvents" "upcoming"}}
    >
      Upcoming
    </button>
    <button
      type="button"
      class="btn btn-light {{this.pastClass}}"
      {{action "filterEvents" "past"}}
    >
      Past
    </button>
    <button
      type="button"
      class="btn btn-light {{this.allClass}}"
      {{action "filterEvents"}}
    >
      All
    </button>
  </div>
</div>

<EventList @events={{this.sortedEvents}} @isAdmin={{true}} />

{{outlet}}
