{{promo-section}}

{{featured-list title="Featured Specials" featured=model.featured}}

<section>
  <div class="container">
    {{header-title title="Who We Are"}}
    <div class="row">
      <div class="col-md-5">
        <img src="images/group.jpg" alt="Butcher's Market people" class="img-fluid">
      </div>
      <div class="col-md-6 offset-md-1">
        <h3 class="color-primary">Each interaction is unique.</h3>
        <p class="lead">Every customer is an individual and deserves service catered to their exact needs.</p>
        <p>We come to work everyday to supply that type of service &amp; and to be a part of our customer's lives for years to come!</p>
        <ul>
          <li>Custom cut meats</li>
          <li>Custom packaging</li>
          <li>Custom service</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{{products-list title="Natural Products" products=model.products}}

{{reviews-list title="Customer Reviews" reviews=model.reviews}}

{{newsletter-form}}
