<ModalDialog as |Modal|>
  <Modal.header @close={{action "cancelDelete"}}>
    Delete Event?
  </Modal.header>
  <form {{action "deleteEvent" on="submit"}}>
    <Modal.body>
      {{#if errorMessage}}
        <div class="alert alert-danger">
          {{this.errorMessage}}
        </div>
      {{/if}}
      <p class="form-info">
        <strong>Do you really want to delete this event?</strong>
      </p>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Title:</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{this.model.title}}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Lead In:</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{this.model.leadIn}}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Date:</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{date-format this.model.startTime "EEEE do yyyy"}}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Start Time:</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{date-format this.model.startTime "h:mma"}}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">End Time:</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{date-format this.model.endTime "h:mma"}}</p>
        </div>
      </div>
    </Modal.body>
    <Modal.footer>
      <button type="button" class="btn btn-secondary" {{action "cancelDelete"}}>No</button>
      <button type="submit" class="btn btn-primary">Yes</button>
    </Modal.footer>
  </form>
</ModalDialog>