{{#if this.renderAsLink}}
  <UiBaseLink
    data-test-id={{this.data-test-id}}
    class={{this.buttonClasses}}
    @download={{this.download}}
    @href={{@href}}
    @route={{@route}}
    @model={{@model}}
    @models={{@models}}
    @query={{@query}}
    ...attributes
  >
    {{#if @icon}}
      <UiIcon
        data-test-id="button-icon"
        @icon={{@icon}}
        @iconPrefix={{@iconPrefix}}
        @variant={{if @iconOnly this.iconOnlyVariant "inherit"}}
      />
    {{/if}}

    {{yield}}
  </UiBaseLink>
{{else}}
  <button
    data-test-id={{this.data-test-id}}
    class={{this.buttonClasses}}
    type={{this.type}}
    disabled={{this.buttonDisabled}}
    {{on "click" this.click}}
    ...attributes
  >
    {{#if @task.isRunning}}
      <UiIcon data-test-id="is-running" @spin={{true}} @icon="circle-notch" />
    {{/if}}

    {{#if @icon}}
      <UiIcon
        data-test-id="button-icon"
        @icon={{@icon}}
        @iconPrefix={{@iconPrefix}}
        @variant={{if @iconOnly this.iconOnlyVariant "inherit"}}
      />
    {{/if}}

    {{yield}}
  </button>
{{/if}}