<form class="max-w-md" {{on "submit" this.sendFeedback}}>
  {{#if this.feedbackSent}}
    <UiAlert data-test-id="feedback-success" @variant="success">
      Thank you for contacting us! If you require immediate assistance, please call us at
      <br />
      (706) 279-9277.
    </UiAlert>
  {{/if}}

  {{#if this.showServerError}}
    <UiAlert data-test-id="server-error" @variant="danger">
      Oops, something went wrong. Please try again.
    </UiAlert>
  {{/if}}

  {{#if this.showInvalidFormError}}
    <UiAlert data-test-id="feedback-error" @variant="danger">
      Please fill out the form and try sending again.
    </UiAlert>
  {{/if}}

  {{#unless this.feedbackSent}}
    <div>
      <label class="sr-only" for="name">Your Name</label>
      <UiTextbox
        id="name"
        placeholder="Your Name"
        @value={{this.name}}
        @onChange={{set this "name"}}
      />
    </div>
    <div class="mt-4">
      <label class="sr-only" for="email">Your E-mail</label>
      <UiTextbox
        @type="email"
        id="email"
        placeholder="Your E-mail"
        @value={{this.email}}
        @onChange={{set this "email"}}
      />
    </div>
    <div class="mt-4">
      <label class="sr-only" for="message">Your Message</label>
      <UiTextarea
        id="message"
        placeholder="Your Message"
        rows="7"
        @value={{this.message}}
        @onChange={{set this "message"}}
      />
    </div>
    {{#if this.showReCaptcha}}
      <div class="mt-4">
        <GRecaptcha @onSuccess={{this.onCaptchaResolved}} />
      </div>
    {{/if}}
    <div class="mt-4">
      <UiButton @type="submit" @task={{this.sendFeedbackTask}}>Send</UiButton>
    </div>
  {{/unless}}
</form>