<Transition @show={{@isOpen}} as |t|>
  <Dialog
    class="fixed inset-0 z-50 overflow-y-auto"
    @as="div"
    @initialFocus={{false}}
    @isOpen={{true}}
    @onClose={{@onClose}}
    as |dialog|
  >
    <div
      class="flex items-end justify-center min-h-screen px-4 pt-4 pb-12 text-center sm:block sm:p-0"
    >
      <t.Child
        @appear={{true}}
        @enter="ease-out duration-700"
        @enterFrom="opacity-0"
        @enterTo="opacity-100"
        @leave="ease-in duration-200"
        @leaveFrom="opacity-100"
        @leaveTo="opacity-0"
      >
        <dialog.Overlay class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75" />
      </t.Child>

      <t.Child
        @appear={{true}}
        @enter="ease-out duration-300"
        @enterFrom="opacity-0 scale-95"
        @enterTo="opacity-100 scale-100"
        @leave="ease-in duration-200"
        @leaveFrom="opacity-100 scale-100"
        @leaveTo="opacity-0 scale-95"
        class="transition-all transform"
      >
        {{! This element is to trick the browser into centering the modal contents. }}
        {{! <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true"></span> }}

        <div
          class="inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-12 sm:align-middle sm:max-w-sm sm:w-full sm:p-6"
        >
          {{yield
            (hash
              header=(component "modal-dialog/header")
              body=(component "modal-dialog/body")
              footer=(component "modal-dialog/footer")
            )
          }}
        </div>
      </t.Child>
    </div>
  </Dialog>
</Transition>