<ModalDialog as |Modal|>
  <Modal.header @close={{action "close"}}>
    {{dialogTitle}}
  </Modal.header>
  <Modal.body>
    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}
    <p class="form-info">
      <strong>Note:</strong> Required fields are marked with an <RequiredField />
    </p>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="performance-title">
        Title <RequiredField />
      </label>
      <div class="col-sm-9">
        <ValidatedField @changeset={{changeset}} @propertyName="title" as |isInvalidClass|>
          {{input class=(concat "form-control " isInvalidClass) id="performance-title" value=changeset.title}}
        </ValidatedField>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="performance-link">
        Link <RequiredField />
      </label>
      <div class="col-sm-9">
        <ValidatedField @changeset={{changeset}} @propertyName="link" as |isInvalidClass|>
          {{input class=(concat "form-control " isInvalidClass) id="performance-link" value=changeset.link}}
        </ValidatedField>
      </div>
    </div>
  </Modal.body>
  <Modal.footer>
    <button type="button" class="btn btn-secondary" {{action "close"}}>
      Cancel
    </button>
    <TaskButton class="btn btn-primary" @task={{savePerformance}} @disabled={{saveDisabled}}>
      Save
    </TaskButton>
  </Modal.footer>
</ModalDialog>
