<Admin::Components::AdminForm class="max-w-xl" @onSubmit={{perform this.saveBundle}} as |Form|>
  {{#if this.errorMessage}}
    <UiAlert data-test-id="server-error" @variant="danger">
      {{this.errorMessage}}
    </UiAlert>
  {{/if}}

  <p class="mb-8">
    <strong>Note:</strong>
    Required fields are marked with an
    <Admin::Components::Required />
  </p>

  <Form.group data-test-id="title" @model={{this.changeset}} @property="title" as |Group|>
    <Group.label>
      Title
      <Admin::Components::Required />
    </Group.label>
    <Group.textbox @value={{this.changeset.title}} @onChange={{set this "changeset.title"}} />
  </Form.group>

  <Form.group data-test-id="file" @model={{this.changeset}} @property="fileUrl" as |Group|>
    <Group.label>PDF File <Admin::Components::Required /></Group.label>
    <div class="mt-2">
      {{#let (file-queue name="file" onFileAdded=this.uploadFile) as |queue|}}
        <label for={{Group.uniqueId}}>
          <span
            class="inline-block px-4 py-2 text-sm border cursor-pointer hover:bg-gray-200 focus:outline-none focus:ring"
          >
            Select PDF
          </span>
          <input
            type="file"
            id={{Group.uniqueId}}
            accept="application/pdf"
            hidden
            {{queue.selectFile}}
          />
        </label>
      {{/let}}

      {{#if this.hasFile}}
        <button
          type="button"
          class="inline-block ml-2 px-4 py-2 text-sm border cursor-pointer hover:bg-gray-200 focus:outline-none focus:ring"
          {{on "click" this.removeFile}}
        >
          Remove PDF
        </button>
      {{/if}}

      <small class="block mt-3 text-gray-700 sm:inline-block sm:mt-0 sm:ml-2">
        Only PDF are allowed.
      </small>

      {{#if this.fileErrorMessage}}
        <span class="block mt-2 text-red-500">
          {{this.fileErrorMessage}}
        </span>
      {{/if}}

      {{#if this.hasFile}}
        <div class="mt-4">
          <iframe
            src={{this.fileUrl}}
            title="Package Bundle PDF"
            height="600px"
            class="w-full"
          ></iframe>
        </div>
      {{/if}}
    </div>
  </Form.group>

  <Form.group data-test-id="prices">
    <Form.label>Prices</Form.label>

    <DragSortList
      @items={{this.prices}}
      @handle=".handle"
      @dragEndAction={{this.reorderPrices}}
      as |price index|
    >
      <div data-test-id="price-{{index}}" class="{{if (gt index 0) 'pt-1'}} pb-1">
        <div class="flex items-center">
          <span class="handle text-gray-600" draggable="true">☰</span>
          <UiTextbox class="ml-2" @value={{price}} @onChange={{fn this.priceChanged index}} />
          <Button
            class="mr-1"
            @iconOnly={{true}}
            @icon="trash-alt"
            @variant="danger"
            title="Delete price"
            @onClick={{fn this.deletePrice index}}
          />
        </div>
      </div>
    </DragSortList>

    <div class="mt-2">
      <Button @icon="plus" @size="medium" @variant="plain" @onClick={{this.addPrice}}>
        New Price
      </Button>
    </div>
  </Form.group>

  <Form.group data-test-id="sale" @model={{this.changeset}} @property="sale" as |Group|>
    <Group.label>Special Text</Group.label>
    <Group.textbox
      @value={{this.changeset.specialText}}
      @onChange={{set this "changeset.specialText"}}
    />
    <small class="block mt-3 text-gray-700">
      Will show under the title in a red text.
    </small>
  </Form.group>

  <Form.group data-test-id="items">
    <Form.label>Items</Form.label>

    <DragSortList
      @items={{this.items}}
      @handle=".handle"
      @dragEndAction={{this.reorderItems}}
      as |item index|
    >
      <div data-test-id="item-{{index}}" class="{{if (gt index 0) 'pt-1'}} pb-1">
        <div class="flex items-center">
          <span class="handle text-gray-600" draggable="true">☰</span>
          <UiTextbox class="ml-2" @value={{item}} @onChange={{fn this.itemChanged index}} />
          <Button
            class="mr-1"
            @iconOnly={{true}}
            @icon="trash-alt"
            @variant="danger"
            title="Delete item"
            @onClick={{fn this.deleteItem index}}
          />
        </div>
      </div>
    </DragSortList>

    <div class="mt-2">
      <Button @icon="plus" @size="medium" @variant="plain" @onClick={{this.addItem}}>
        New Item
      </Button>
    </div>
  </Form.group>

  <div class="mt-8">
    {{#if this.changeset.errors}}
      <div class="mb-2 text-red-600">
        Please fix the errors above and try again.
      </div>
    {{/if}}
    <Form.submit @disabled={{this.saveDisabled}}>
      Save
    </Form.submit>
    <Button class="ml-2" @variant="plain" @onClick={{@cancelled}}>Cancel</Button>
  </div>
</Admin::Components::AdminForm>