<Admin::BackLink @route="admin.index" @text="Admin" />

<Admin::Title @title="Grab and Go" />

<div class="mt-8">
  <UiButton @route="admin.grab-and-go.new" @icon="plus" @size="medium" @variant="plain">
    New
  </UiButton>
</div>

<Admin::UiTable class="mt-8" as |Table|>
  <Table.Head as |Thead|>
    <Thead.Th>Title</Thead.Th>
    <Thead.Th>In Stock?</Thead.Th>
    <Thead.Th />
  </Table.Head>
  <Table.Body as |Tbody|>
    {{#each this.model as |item|}}
      <Tbody.Tr as |Row|>
        <Row.Td>
          {{item.title}}
        </Row.Td>
        <Row.Td>
          <Admin::GrabAndGo::MiniForm @item={{item}} />
        </Row.Td>
        <Row.Td>
          <div class="flex justify-end">
            <UiButton
              @route="admin.grab-and-go.edit"
              @model={{item.id}}
              @iconOnly={{true}}
              @icon="pencil-alt"
              @variant="secondary"
            />

            <UiButton
              class="ml-1"
              @iconOnly={{true}}
              @icon="trash-alt"
              @variant="danger"
              @onClick={{fn this.openDeleteModal item}}
            />
          </div>
        </Row.Td>
      </Tbody.Tr>
    {{else}}
      <Tbody.Empty>
        No grab and go items found.
      </Tbody.Empty>
    {{/each}}
  </Table.Body>
</Admin::UiTable>

<Admin::GrabAndGo::DeleteItemForm
  @isOpen={{this.deleteModalOpen}}
  @special={{this.itemToDelete}}
  @onSave={{this.closeDeleteModal}}
  @onCancel={{this.closeDeleteModal}}
/>

{{outlet}}