{{#ember-wormhole to=destinationElementId}}
  <div class="{{wrapperClassNamesString}} {{wrapperClass}}">
    <div class={{overlayClassNamesString}} onclick={{action (ignore-children onClickOverlay)}} tabindex="-1" data-emd-overlay>
      {{#ember-modal-dialog-positioned-container
          class=containerClassNamesString
          targetAttachment=targetAttachment
          target=legacyTarget
      }}
        <div class="modal-content">
          {{yield (hash
            header=(component "modal-dialog-header")
            body=(component "modal-dialog-body")
            footer=(component "modal-dialog-footer")
          )}}
        </div>
      {{/ember-modal-dialog-positioned-container}}
    </div>
  </div>
{{/ember-wormhole}}
