<div class="container">
  <header>
    <h2 class="stripe"><span>{{title}}</span></h2>
  </header>
  <div class="row">
    {{#each featured as |feature|}}
      <div class="col-sm-6 col-md-3 feature-item">
        <h5 class="feature-title">{{feature.title}} {{feature.price}}</h5>
        {{#if feature.items}}
          <ul class="feature-item-list">
            {{#each feature.items as |item|}}
              <li>{{item}}</li>
            {{/each}}
          </ul>
        {{else}}
          <p class="feature-item-description">{{feature.description}}</p>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
