<Admin::Components::AdminForm class="max-w-md" @onSubmit={{perform this.signIn}} as |Form|>
  {{#if this.hasError}}
    <UiAlert data-test-id="server-error" @variant="danger">
      Invalid username or password.
    </UiAlert>
  {{/if}}

  <Form.group data-test-id="username" as |Group|>
    <Group.label>Username</Group.label>
    <Group.textbox
      autocomplete="username"
      @value={{this.username}}
      @onChange={{set this "username"}}
    />
  </Form.group>

  <Form.group data-test-id="password" as |Group|>
    <Group.label>Password</Group.label>
    <Group.textbox
      type="password"
      autocomplete="current-password"
      @value={{this.password}}
      @onChange={{set this "password"}}
    />
  </Form.group>

  <div class="mt-8">
    <Form.submit>
      Sign In
    </Form.submit>
  </div>
</Admin::Components::AdminForm>