<ModalDialog as |Modal|>
  <Modal.header>
    Delete Performance?
  </Modal.header>
  <Admin::Components::AdminForm
    class="max-w-xl"
    @onSubmit={{perform this.deletePerformance}} as |Form|
  >
    <Modal.body>
      {{#if this.errorMessage}}
        <UiAlert data-test-id="server-error" @variant="danger">
          {{this.errorMessage}}
        </UiAlert>
      {{/if}}

      <p class="mb-8">
        Do you really want to delete this performance?
      </p>

      <Form.group data-test-id="title" as |Group|>
        <Group.label>Title</Group.label>
        <Group.readonly @value={{@performance.title}} />
      </Form.group>

      <Form.group data-test-id="link" as |Group|>
        <Group.label>Lead In</Group.label>
        <Group.readonly @value={{@performance.link}} />
      </Form.group>
    </Modal.body>
    <Modal.footer>
      <Button @variant="plain" @onClick={{@onCancel}}>
        No
      </Button>
      <Form.submit class="ml-2" @disabled={{if this.deletePerformance.isRunning true false}}>
        Yes
      </Form.submit>
    </Modal.footer>
  </Admin::Components::AdminForm>
</ModalDialog>