<th
  data-test-id="table-head-cell"
  class="font-semibold text-sm uppercase p-3 text-left"
  {{did-update this.setSortDirection @currentSort}}
  ...attributes
>
  {{#if @name}}
    <a data-test-id="table-head-link" href="#" class="text-gray-900" {{action this.columnClicked}}>
      {{yield}}

      {{#if this.isAscending}}
        <FaIcon @icon="chevron-up" class="ml-1" />
      {{else if this.isDescending}}
        <FaIcon @icon="chevron-down" class="ml-1" />
      {{/if}}
    </a>
  {{else}}
    {{yield}}
  {{/if}}
</th>
