{{#if name}}
  <a href="#" {{action "columnClicked"}}>
    {{yield}}
    {{#if isSorted}}
      {{#if isAscending}}
        {{fa-icon "chevron-up"}}
      {{/if}}
      {{#if isDescending}}
        {{fa-icon "chevron-down"}}
      {{/if}}
    {{/if}}
  </a>
{{else}}
  {{yield}}
{{/if}}
