<Admin::Components::AdminForm class="max-w-xl" enctype="multipart/form-data" @onSubmit={{perform this.saveEvent}} as |Form|>
  {{#if this.errorMessage}}
    <UiAlert data-test-id="server-error" @variant="danger">
      {{this.errorMessage}}
    </UiAlert>
  {{/if}}

  <p class="mb-8">
    <strong>Note:</strong> Required fields are marked with an <Admin::Components::Required />
  </p>

  <Form.group data-test-id="title" @model={{this.changeset}} @property="title" as |Group|>
    <Group.label>Title <Admin::Components::Required /></Group.label>
    <Group.textbox @value={{this.changeset.title}} />
  </Form.group>

  <Form.group data-test-id="lead-in" @model={{this.changeset}} @property="leadIn" as |Group|>
    <Group.label>Lead In</Group.label>
    <Group.textbox @value={{this.changeset.leadIn}} />
  </Form.group>

  <Form.group data-test-id="date" @model={{this.changeset}} @property="startTime" as |Group|>
    <Group.label>Date <Admin::Components::Required /></Group.label>
    <Group.datepicker
      @allowInput={{false}}
      @appendDataInput={{true}}
      @date={{readonly this.changeset.startTime}}
      @dateFormat="m/d/Y"
      @onChange={{this.dateSelected}}
    />
  </Form.group>

  <Form.group data-test-id="start-time" @model={{this.changeset}} @property="startTime" as |Group|>
    <Group.label>Start Time <Admin::Components::Required /></Group.label>
    <Group.datepicker
      @date={{readonly this.changeset.startTime}}
      @enableTime={{true}}
      @noCalendar={{true}}
      @dateFormat="h:i K"
      @onChange={{this.startTimeSelected}}
    />
  </Form.group>

  <Form.group data-test-id="end-time" @model={{this.changeset}} @property="endTime" as |Group|>
    <Group.label>End Time <Admin::Components::Required /></Group.label>
    <Group.datepicker
      @date={{readonly this.changeset.endTime}}
      @enableTime={{true}}
      @noCalendar={{true}}
      @dateFormat="h:i K"
      @onChange={{this.endTimeSelected}}
    />
  </Form.group>

  <Form.group data-test-id="link" @model={{this.changeset}} @property="link" as |Group|>
    <Group.label>Link</Group.label>
    <Group.textbox @value={{this.changeset.link}} />
  </Form.group>

  <Form.group data-test-id="image" @model={{this.changeset}} @property="imageUrl" as |Group|>
    <Group.label>Image</Group.label>
    <div class="mt-2">
      <FileUpload
        @id={{Group.uniqueId}}
        @name="photos"
        @accept="image/*"
        @onfileadd={{this.uploadImage}}
      >
        {{! template-lint-disable link-href-attributes }}
        <a
          class="inline-block px-4 py-2 text-sm border cursor-pointer hover:bg-gray-200 focus:outline-none focus:shadow-outline"
          tabindex="0"
        >
          Select Image
        </a>
      </FileUpload>

      {{#if this.hasImage}}
        <button
          type="button"
          class="inline-block ml-2 px-4 py-2 text-sm border cursor-pointer hover:bg-gray-200 focus:outline-none focus:shadow-outline"
          {{on "click" this.removeImage}}
        >
          Remove Image
        </button>
      {{/if}}

      {{#if this.fileErrorMessage}}
        <span class="block mt-2 text-red-500">
          This is an error message.
          {{this.fileErrorMessage}}
        </span>
      {{/if}}

      <small
        class="block mt-3 text-gray-700 {{if this.fileErrorMessage "" "sm:inline-block sm:mt-0 sm:ml-2"}}"
      >
        Only JPG, JPEG, PNG, and GIF files are allowed.
      </small>

      {{#if this.hasImage}}
        <div class="mt-4">
          <img src={{this.imageUrl}} alt="Event" class="w-full block">
        </div>
      {{/if}}
    </div>
  </Form.group>

  <div class="mt-8">
    {{#if this.changeset.errors}}
      <div class="mb-2 text-red-600">
        Please fix the errors above and try again.
      </div>
    {{/if}}
    <Form.submit @disabled={{this.saveDisabled}}>
      Save
    </Form.submit>
    <Button class="ml-2" @variant="plain" @onClick={{@cancelled}}>Cancel</Button>
  </div>
</Admin::Components::AdminForm>
