{{#promo-section class="butcher-promo-deli" darken=true}}
  <h1 class="promo-title">Fresh Made Everything!</h1>
  <p class="lead large">Everything in our deli is made in-house from scratch to achieve a quality and freshness like no other store can provide.</p>

  <div class="boars-head">
    <div class="boars-head-logo"></div>
    {{#unless media.isMobile}}
      <div class="boars-head-meat"></div>
    {{/unless}}
  </div>
{{/promo-section}}

<section>
  <div class="container">
    {{header-title title="Everyday Deli Items"}}

    {{#each (grouped-each cardColumns model.items) as |row|}}
      <div class="row">
        {{#each row as |item|}}
          <div class="col-sm-6 col-md-3">
            <div class="card card-plain">
              <img class="card-img-top" src="images/{{item.image}}" style="width: 100%" alt="Image of {{item.title}}">
              <div class="card-block">
                <h4 class="card-title deli-item-title">{{item.title}}</h4>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}

    {{header-title title="Party Platters"}}
    <div class="col-sm-6 col-md-3">
      <div class="card card-plain">
        <img class="card-img-top" src="images/sandwich-platter.jpg" style="width: 100%" alt="Image of Sandwich Platters">
        <div class="card-block">
          <h4 class="card-title deli-item-title">Sandwich Platters</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-plain">
        <img class="card-img-top" src="images/meat-cheese-platter.jpg" style="width: 100%" alt="Image of Meat &amp; Cheese Platters">
        <div class="card-block">
          <h4 class="card-title deli-item-title">Meat &amp; Cheese Platters</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 deli-platters-col">
      <a class="btn btn-secondary" href="docs/bmpartyplatters.pdf">View All Platters</a>
    </div>
  </div>
</section>
