<PromoSection class="butcher-promo-cafe" @specialHours={{false}}>
  <div class="row clearfix">
    <div class="col-md-12 col-lg-6">
      {{#if isDesktop}}
        <h1 class="promo-title">Welcome to The Blues Street Cafe</h1>
        <p class="lead large">Finger Lickin'. Guitar Pickin'.</p>
      {{/if}}
      {{#if notDesktop}}
        <CafeHours @hours={{model.hours}} />
        <StoreHours @hours={{model.hours}} />
        <StoreLocation />
      {{/if}}
      <a href="https://www.facebook.com/thebutchersmarket" class="btn btn-secondary btn-lg">Like us on Facebook</a>
      {{#if isDesktop}}
        <CafeHours @hours={{model.hours}} />
        <StoreHours @hours={{model.hours}} />
        <StoreLocation />
      {{/if}}
    </div>
    {{#if isDesktop}}
      <div class="col-md-12 col-lg-6">
        <IphoneCarousel as |Slide|>
          <Slide @src="images/iPhone-loyalty-club-3.jpg" @alt="Loyalty Club punch card" @active={{true}} />
          <Slide @src="images/iPhone-loyalty-club-2.jpg" @alt="Loyalty Club discount" />
          <Slide @src="images/iPhone-mobile-app.jpg" @alt="Butchers Market mobile app" />
        </IphoneCarousel>
      </div>
    {{/if}}
    {{#if notDesktop}}
      <div class="col-md-12 col-lg-6">
        <MobileApp />
      </div>
    {{/if}}
  </div>
</PromoSection>

<ScrollToSection @shouldScroll={{events}} @selector="#events">
  <div id="events" class="events">
    <div class="container">
      <HeaderTitle @title="Events" />

      <EventList @events={{model.events}} />
    </div>
  </div>
</ScrollToSection>

<section>
  <div class="container">
    <HeaderTitle @title="Past Performances" />
    <div class="row">
      {{#each filteredPerformances as |performance|}}
        <div class="col-sm-6 col-md-4">
          <ResponsiveVideo @url={{performance.embedLink}} />
        </div>
      {{/each}}
      <div class="col-sm-6 col-md-4">
        <a href="https://www.youtube.com/playlist?list=PLaUocYlB3j2hIoFGQDlkAwtAE7KcxzhFV" class="btn btn-secondary btn-lg">
          More Videos
        </a>
      </div>
    </div>
  </div>
</section>

<ReviewsList @title="Customer Reviews" @reviews={{model.reviews}} />

<NewsletterForm @page="cafe" />

<BookingSection />
