<PromoSection class="butcher-promo-cafe" @specialHours={{false}}>
  <div class="row clearfix">
    <div class="col-md-12 col-lg-6">
      {{#if isDesktop}}
        <h1 class="promo-title">Welcome to The Blues Street Cafe</h1>
        <p class="lead large">Finger Lickin'. Guitar Pickin'.</p>
      {{/if}}
      {{#if notDesktop}}
        <StoreHours @hours={{model.hours}} @type="Cafe" />
        <StoreHours @hours={{model.hours}} />
        <StoreLocation />
      {{/if}}
      <a href="https://www.facebook.com/thebutchersmarket" class="btn btn-secondary btn-lg">Like us on Facebook</a>
      {{#if isDesktop}}
        <StoreHours @hours={{model.hours}} @type="Cafe" />
        <StoreHours @hours={{model.hours}} />
        <StoreLocation />
      {{/if}}
    </div>
  </div>
</PromoSection>

<ScrollToSection @shouldScroll={{this.events}} @selector="#events">
  <div id="events" class="events">
    <div class="container">
      <HeaderTitle @title="Events" />

      <EventList @events={{this.sortedEvents}} />
    </div>
  </div>
</ScrollToSection>

<section>
  <div class="container">
    <HeaderTitle @title="Past Performances" />
    <div class="row">
      {{#each this.filteredPerformances as |performance|}}
        <div class="col-sm-6 col-md-4">
          <ResponsiveVideo @url={{performance.embedLink}} />
        </div>
      {{/each}}
      <div class="col-sm-6 col-md-4">
        <a
          href="https://www.youtube.com/playlist?list=PLaUocYlB3j2hIoFGQDlkAwtAE7KcxzhFV"
          class="btn btn-secondary btn-lg"
        >
          More Videos
        </a>
      </div>
    </div>
  </div>
</section>

<ReviewsList @title="Customer Reviews" @reviews={{this.model.reviews}} />

<BookingSection />
