{{#if @href}}
  <a
    data-test-id={{this.data-test-id}}
    href={{@href}}
    class={{this.buttonClasses}}
    ...attributes
  >
    {{yield}}
  </a>
{{else}}
  <button
    data-test-id={{this.data-test-id}}
    class={{this.buttonClasses}}
    disabled={{this.disabled}}
    onclick={{action "click"}}
    ...attributes
  >
    {{yield}}
  </button>
{{/if}}
