<form class="max-w-md" {{action "sendFeedback" on="submit"}}>
  {{#if this.feedbackSent}}
    <div class="mb-4 bg-green-200 text-green-800 px-4 py-2">
      Thank you for contacting us! If you require immediate assistance, please call us at (706) 279-9277.
    </div>
  {{/if}}

  {{#if this.showServerError}}
    <div class="mb-4 bg-red-200 text-red-800 px-4 py-2">
      Oops, something went wrong. Please try again.
    </div>
  {{/if}}

  {{#if showInvalidFormError}}
    <div class="mb-4 bg-red-200 text-red-800 px-4 py-2">
      {{#if this.recaptchaInvalid}}
        Invalid reCaptcha response, please try again
      {{else}}
        Please fill out the form and try sending again.
      {{/if}}
    </div>
  {{/if}}

  {{#unless this.feedbackSent}}
    <div>
      <label class="sr-only" for="name">Your Name</label>
      <UiTextbox id="name" placeholder="Your Name" @value={{this.name}} />
    </div>
    <div class="mt-4">
      <label class="sr-only" for="email">Your E-mail</label>
      <UiTextbox @type="email" id="email" placeholder="Your E-mail" @value={{this.email}} />
    </div>
    <div class="mt-4">
      <label class="sr-only" for="message">Your Message</label>
      <UiTextarea id="message" placeholder="Your Message" rows="7" @value={{this.message}} />
    </div>
    {{#if showReCaptcha}}
      <div class="mt-4">
        <GRecaptcha @onSuccess={{action "onCaptchaResolved"}} />
      </div>
    {{/if}}
    <div class="mt-4">
      <Button type="submit">Send</Button>
    </div>
  {{/unless}}
</form>
