{{#promo-section class="butcher-promo-cafe"}}
  <div class="row clearfix">
    <div class="col-lg-6">
      {{#if isDesktop}}
        <h1 class="promo-title">Welcome to The Blues Street Cafe</h1>
        <p class="lead large">Finger Lickin'. Guitar Pickin'.</p>
      {{/if}}
      {{#if notDesktop}}
        {{store-hours}}
        <div class="location">
          <div class="location-item">{{fa-icon "map-marker"}} 3619 Cleveland Highway, Dalton, GA</div>
          <div class="location-item">{{fa-icon "phone"}} (706) 279-9277</div>
        </div>
      {{/if}}
      <a href="https://www.facebook.com/thebutchersmarket" class="btn btn-secondary">Like us on Facebook</a>
      {{#if isDesktop}}
        {{store-hours}}
        <div class="location">
          <div class="location-item">{{fa-icon "map-marker"}} 3619 Cleveland Highway, Dalton, GA</div>
          <div class="location-item">{{fa-icon "phone"}} (706) 279-9277</div>
        </div>
      {{/if}}
    </div>
    {{#if isDesktop}}
      <div class="col-lg-6">
        {{iphone-carousel}}
      </div>
    {{/if}}
    {{#if notDesktop}}
      <div class="col-lg-6">
        <ul class="list-inline mobile-app-downloads">
          <li class="list-inline-item">
            <a href="#">
              <img src="images/app-store.png" alt="iOS app store" width="150px" height="45px">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <img src="images/google-play.png" alt="Android app" width="150px" height="45px">
            </a>
          </li>
        </ul>
      </div>
    {{/if}}
  </div>
{{/promo-section}}

{{header-title title="Events"}}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="natural-products">
          <div class="natural-products-header">
            <h4>November 2016</h4>
          </div>
          <ul class="natural-products-items">
            <li>
              <div class="event-item">
                <h6 class="event-date">November 5th</h6>
                <p>Acoustic Blues &amp; Soul with:</p>
                <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Luke Simmons &amp; Kolby Towe</a></p>
                <p class="event-time">12:00 pm - 4:00 pm</p>
              </div>
            </li>
            <li>
              <div class="event-item">
                <h6 class="event-date">November 12th</h6>
                <p>Backwoods Funk &amp; Blues with:</p>
                <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Remembering January</a></p>
                <p class="event-time">12:00 pm - 4:00 pm</p>
              </div>
            </li>
            <li>
              <div class="event-item">
                <h6 class="event-date">November 18th</h6>
                <p>Mosh out with:</p>
                <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">The Acacia Strain</a></p>
                <p class="event-time">12:00 pm - 4:00 pm</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="natural-products">
          <div class="natural-products-header">
            <h4>December 2016</h4>
          </div>
          <ul class="natural-products-items">
            <li>
              <div class="event-item">
                <h6 class="event-date">November 5th</h6>
                <p>Acoustic Blues &amp; Soul with:</p>
                <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Luke Simmons &amp; Kolby Towe</a></p>
                <p class="event-time">12:00 pm - 4:00 pm</p>
              </div>
            </li>
            <li>
              <div class="event-item">
                <h6 class="event-date">November 12th</h6>
                <p>Backwoods Funk &amp; Blues with:</p>
                <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Remembering January</a></p>
                <p class="event-time">12:00 pm - 4:00 pm</p>
              </div>
            </li>
            <li>
              <div class="event-item">
                <h6 class="event-date">November 18th</h6>
                <p>Mosh out with:</p>
                <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">The Acacia Strain</a></p>
                <p class="event-time">12:00 pm - 4:00 pm</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="natural-products">
          <div class="natural-products-header">
            <h4>January 2017</h4>
          </div>
          <ul class="natural-products-items">
            <li>
              <div class="event-item">
                <h6 class="event-date">November 5th</h6>
                <p>Acoustic Blues &amp; Soul with:</p>
                <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Luke Simmons &amp; Kolby Towe</a></p>
                <p class="event-time">12:00 pm - 4:00 pm</p>
              </div>
            </li>
            <li>
              <div class="event-item">
                <h6 class="event-date">November 12th</h6>
                <p>Backwoods Funk &amp; Blues with:</p>
                <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Remembering January</a></p>
                <p class="event-time">12:00 pm - 4:00 pm</p>
              </div>
            </li>
            <li>
              <div class="event-item">
                <h6 class="event-date">November 18th</h6>
                <p>Mosh out with:</p>
                <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">The Acacia Strain</a></p>
                <p class="event-time">12:00 pm - 4:00 pm</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{reviews-list title="Customer Reviews" reviews=model.reviews}}

{{newsletter-form}}

{{feedback-form}}
