{{#promo-section class="butcher-promo-cafe" specialHours=false}}
  <div class="row clearfix">
    <div class="col-md-12 col-lg-6">
      {{#if isDesktop}}
        <h1 class="promo-title">Welcome to The Blues Street Cafe</h1>
        <p class="lead large">Finger Lickin'. Guitar Pickin'.</p>
      {{/if}}
      {{#if notDesktop}}
        {{cafe-hours}}
        {{store-hours}}
        {{store-location}}
      {{/if}}
      <a href="https://www.facebook.com/thebutchersmarket" class="btn btn-secondary btn-lg">Like us on Facebook</a>
      {{#if isDesktop}}
        {{cafe-hours}}
        {{store-hours}}
        {{store-location}}
      {{/if}}
    </div>
    {{#if isDesktop}}
      <div class="col-md-12 col-lg-6">
        {{#iphone-carousel}}
          <img src="images/iPhone-loyalty-club-3.jpg" alt="Loyalty Club punch card">
          <img src="images/iPhone-loyalty-club-2.jpg" alt="Loyalty Club discount">
          <img src="images/iPhone-mobile-app.jpg" alt="Butchers Market mobile app">
        {{/iphone-carousel}}
      </div>
    {{/if}}
    {{#if notDesktop}}
      <div class="col-md-12 col-lg-6">
        {{mobile-app}}
      </div>
    {{/if}}
  </div>
{{/promo-section}}

{{#scroll-to-section shouldScroll=events selector="#events"}}
  <div id="events" class="events">
    <div class="container">
      {{header-title title="Events"}}

      {{event-list events=model.events}}
    </div>
  </div>
{{/scroll-to-section}}

<section>
  <div class="container">
    {{header-title title="Past Performances"}}
    <div class="row">
      {{#each filteredPerformances as |performance|}}
        <div class="col-sm-6 col-md-4">
          {{responsive-video url=performance.link}}
        </div>
      {{/each}}
      <div class="col-sm-6 col-md-4">
        <a href="https://www.youtube.com/playlist?list=PLaUocYlB3j2hIoFGQDlkAwtAE7KcxzhFV" class="btn btn-secondary btn-lg">
          More Videos
        </a>
      </div>
    </div>
  </div>
</section>

{{reviews-list title="Customer Reviews" reviews=model.reviews}}

{{newsletter-form page="cafe"}}

{{booking-section}}
