<Admin::BackLink @route="admin.index" @text="Admin" />

<Admin::Title @title="Deli Items" />

<div class="mt-8">
  <UiButton @route="admin.deli-items.new" @icon="plus" @size="medium" @variant="plain">
    New
  </UiButton>
</div>

<Admin::UiTable class="mt-8" as |Table|>
  <Table.Head @currentSort={{this.currentSort}} @onColumnClick={{this.sortDeliItems}} as |Thead|>
    <Thead.Th @name="title">Title</Thead.Th>
    <Thead.Th>Is Hidden?</Thead.Th>
    <Thead.Th />
  </Table.Head>
  <Table.Body as |Tbody|>
    {{#each this.sortedDeliItems as |item|}}
      <Tbody.Tr as |Row|>
        <Row.Td>{{item.title}}</Row.Td>
        <Row.Td>
          <Admin::DeliItems::MiniForm @item={{item}} />
        </Row.Td>
        <Row.Td>
          <div class="flex justify-end">
            <UiButton
              @route="admin.deli-items.edit"
              @model={{item.id}}
              @iconOnly={{true}}
              @icon="pencil-alt"
              @variant="secondary"
            />

            <UiButton
              class="ml-1"
              @iconOnly={{true}}
              @icon="trash-alt"
              @variant="danger"
              @onClick={{fn this.openDeleteModal item}}
            />
          </div>
        </Row.Td>
      </Tbody.Tr>
    {{else}}
      <Tbody.Empty>
        No deli items found.
      </Tbody.Empty>
    {{/each}}
  </Table.Body>
</Admin::UiTable>

<Admin::DeliItems::DeleteDeliItemForm
  @isOpen={{this.deleteModalOpen}}
  @item={{this.itemToDelete}}
  @onSave={{this.closeDeleteModal}}
  @onCancel={{this.closeDeleteModal}}
/>

{{outlet}}