{{#promo-section class="butcher-promo-beverage"}}
  <h1 class="promo-title">Beverages</h1>
  <p class="lead large"></p>
{{/promo-section}}

<section>
  <div class="container">
    {{header-title title="Beer"}}

    {{#each (grouped-each cardColumns beers) as |row|}}
      <div class="row">
        {{#each row as |item|}}
          {{log item.title}}
          <div class="col-sm-6 col-md-3">
            <div class="card card-plain">
              <img class="card-img-top" src="images/{{item.image}}" style="width: 100%" alt="Image of {{item.title}}">
              <div class="card-block">
                <h4 class="card-title">{{item.title}}</h4>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>

<section>
  <div class="container">
    {{header-title title="Wine"}}

    {{#each (grouped-each cardColumns wines) as |row|}}
      <div class="row">
        {{#each row as |item|}}
          {{log item.title}}
          <div class="col-sm-6 col-md-3">
            <div class="card card-plain">
              <img class="card-img-top" src="images/{{item.image}}" style="width: 100%" alt="Image of {{item.title}}">
              <div class="card-block">
                <h4 class="card-title">{{item.title}}</h4>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>

<section>
  <div class="container">
    {{header-title title="Non-Alcoholic"}}

    {{#each (grouped-each cardColumns nonAlcohols) as |row|}}
      <div class="row">
        {{#each row as |item|}}
          {{log item.title}}
          <div class="col-sm-6 col-md-3">
            <div class="card card-plain">
              <img class="card-img-top" src="images/{{item.image}}" style="width: 100%" alt="Image of {{item.title}}">
              <div class="card-block">
                <h4 class="card-title">{{item.title}}</h4>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>
