<ModalDialog @isOpen={{@isOpen}} @onClose={{@onCancel}} as |Modal|>
  <Modal.header>
    Delete Grab and Go Item?
  </Modal.header>
  <Admin::AdminForm class="max-w-xl" @onSubmit={{perform this.deleteSpecial}} as |Form|>
    <Modal.body>
      {{#if this.errorMessage}}
        <UiAlert data-test-id="server-error" @variant="danger">
          {{this.errorMessage}}
        </UiAlert>
      {{/if}}

      <p class="mb-8">
        Do you really want to delete this grab and go item?
      </p>

      <Form.group data-test-id="title" as |Group|>
        <Group.label>Title</Group.label>
        <Group.readonly @value={{@special.title}} />
      </Form.group>

      <Form.group data-test-id="description" as |Group|>
        <Group.label>Description</Group.label>
        <Group.readonly @value={{@special.description}} />
      </Form.group>

      <Form.group data-test-id="in-stock" as |Group|>
        <Group.label>In Stock?</Group.label>
        <Group.readonly @value={{if @item.inStock "Yes" "No"}} />
      </Form.group>
    </Modal.body>
    <Modal.footer>
      <UiButton @variant="plain" @onClick={{@onCancel}}>
        No
      </UiButton>
      <Form.submit class="ml-2">
        Yes
      </Form.submit>
    </Modal.footer>
  </Admin::AdminForm>
</ModalDialog>