<Admin::BackLink @route="admin.index" @text="Admin" />

<Admin::Title @title="Store Hours" />

<div class="mt-8">
  <UiButton @route="admin.hours.new" @icon="plus" @size="medium" @variant="plain">
    New
  </UiButton>
</div>

<Admin::UiTable class="mt-8" as |Table|>
  <Table.head as |Thead|>
    <Thead.th>Type</Thead.th>
    <Thead.th>Label</Thead.th>
    <Thead.th>Active Start Date</Thead.th>
    <Thead.th>Active End Date</Thead.th>
    <Thead.th>Lines</Thead.th>
    <Thead.th />
  </Table.head>
  <Table.body as |Tbody|>
    {{#each @model as |hours|}}
      <Tbody.tr as |Row|>
        <Row.td>
          <div>{{hours.type}}</div>
          {{#if hours.default}}
            <span class="inline-block px-2 bg-blue-200 text-blue-800 text-sm rounded">Default</span>
          {{/if}}
        </Row.td>
        <Row.td>{{hours.label}}</Row.td>
        <Row.td>
          {{#if hours.activeStartDate}}
            {{date-format hours.activeStartDate "LL/dd/yyyy"}}
          {{/if}}
        </Row.td>
        <Row.td>
          {{#if hours.activeEndDate}}
            {{date-format hours.activeEndDate "LL/dd/yyyy"}}
          {{/if}}
        </Row.td>
        <Row.td>
          <ul class="list-disc list-inside">
            <li>{{hours.line1}}</li>
            {{#if hours.line2}}
              <li>{{hours.line2}}</li>
            {{/if}}
            {{#if hours.line3}}
              <li>{{hours.line3}}</li>
            {{/if}}
          </ul>
        </Row.td>
        <Row.td>
          <div class="flex justify-end">
            <UiButton
              @route="admin.hours.edit"
              @model={{hours.id}}
              @iconOnly={{true}}
              @icon="pencil-alt"
              @variant="secondary"
            />

            <UiButton
              class="ml-1"
              @iconOnly={{true}}
              @icon="trash-alt"
              @variant="danger"
              @disabled={{if hours.default true false}}
              @onClick={{fn this.openDeleteModal hours}}
            />
          </div>
        </Row.td>
      </Tbody.tr>
    {{else}}
      <Tbody.empty>
        No hours found.
      </Tbody.empty>
    {{/each}}
  </Table.body>
</Admin::UiTable>

<Admin::Hours::DeleteHoursForm
  @isOpen={{this.deleteModalOpen}}
  @hours={{this.hoursToDelete}}
  @onSave={{this.closeDeleteModal}}
  @onCancel={{this.closeDeleteModal}}
/>

{{outlet}}