{{!
  We purposely don't put `yield` on a separate line because it will end up making the underline of
  the hover extend past the text into the empty space after it.
}}
{{#if (or @href (eq @href ""))}}
  <a href={{@href}} ...attributes {{did-insert this.registerLinkAttributes}}>{{yield}}</a>
{{else}}
  <LinkTo
    @route={{@route}}
    @models={{this.models}}
    @query={{@query}}
    ...attributes
  >{{yield}}</LinkTo>
{{/if}}