<ul
  class="list-reset flex flex-col lg:flex-row lg:items-center"
  {{did-insert (perform this.loadMenu)}}
>
  {{#unless this.isMobile}}
    {{#if this.showOrderOnline}}
      <li>
        <MainNav::OrderButton />
      </li>
    {{/if}}
  {{/unless}}
  <li class="lg:ml-8 lg:block lg:h-full">
    <LinkTo
      @route="meat"
      class="block px-6 py-4 lg:flex lg:items-center lg:py-0 lg:h-full hover:text-red-600 text-center lg:text-left"
      {{on "click" this.itemClicked}}
    >
      Meat
    </LinkTo>
  </li>
  <li class="lg:block lg:h-full">
    <LinkTo
      @route="deli"
      class="block px-6 py-4 lg:flex lg:items-center lg:py-0 lg:h-full hover:text-red-600 text-center lg:text-left"
      {{on "click" this.itemClicked}}
    >
      Deli
    </LinkTo>
  </li>
  <li class="lg:block lg:h-full">
    <a
      href={{this.menuUrl}}
      class="block px-6 py-4 lg:flex lg:items-center lg:py-0 lg:h-full hover:text-red-600 text-center lg:text-left"
    >
      Menu
    </a>
  </li>
  <li class="lg:block lg:h-full">
    <LinkTo
      @route="contact"
      class="block px-6 py-4 lg:flex lg:items-center lg:py-0 lg:h-full hover:text-red-600 text-center lg:text-left"
      {{on "click" this.itemClicked}}
    >
      Contact
    </LinkTo>
  </li>
</ul>