<div>
  <div class="absolute pt-2 z-50">
    {{#link-to "application" class="no-underline"}}
      <img src="images/butchers-market-logo.png" alt="The Butcher's Market logo">
    {{/link-to}}
    {{#link-to "events" (query-params events=false) class="no-underline"}}
      <img src="images/blues-street-logo.png" width="100px" height="100px" alt="Blues Street Cafe logo">
    {{/link-to}}
  </div>
</div>

<button class="text-xl lg:invisible" onclick={{action "toggleNav"}}>
  {{#if showNav}}
    {{fa-icon "times"}}
  {{else}}
    {{fa-icon "bars"}}
  {{/if}}
</button>

<nav class="bg-white {{navClass}} absolute mt-20 pt-8 pin-x lg:block lg:static lg:mt-0 lg:pt-4">
  <div class="flex flex-col lg:flex-row lg:justify-end">
    {{#link-to "meat" class="main-nav-link"}}
      Meat
    {{/link-to}}

    {{#link-to "deli" class="main-nav-link"}}
      Deli
    {{/link-to}}

    <a class="main-nav-link relative" href="#" id="dining-item" {{action "toggleDiningDropdown"}}>
      Dining {{fa-icon "caret-down" class="pl-1"}}

      {{#if media.isDesktop}}
        {{#attach-popover
          hideOn="clickout"
          isShown=showDiningDropdown
          onChange=(action "dropdownClosed")
          showOn="click"
          placement="bottom"
          animation="none"
          hideDuration=0
          showDuration=0
        }}
          <div class="bg-grey-lighter flex flex-col -mt-2">
            <a class="main-nav-link main-nav-dropdown-link" href="docs/bmmenu.pdf">View Menu</a>
            {{#link-to "events" (query-params events=false) class="main-nav-link main-nav-dropdown-link"}}
              Blues Street Cafe
            {{/link-to}}
          </div>
        {{/attach-popover}}
      {{else}}
        {{#if showDiningDropdown}}
          <div class="bg-grey-lighter flex flex-col mt-4">
            <a class="main-nav-link main-nav-dropdown-link" href="docs/bmmenu.pdf">View Menu</a>
            {{#link-to "events" (query-params events=false) class="main-nav-link main-nav-dropdown-link"}}
              Blues Street Cafe
            {{/link-to}}
          </div>
        {{/if}}
      {{/if}}
    </a>

    {{#link-to "events" (query-params events=true) class="main-nav-link"}}
      Events
    {{/link-to}}

    {{#link-to "contact" (query-params events=isEventsPage) class="main-nav-link"}}
      Contact
    {{/link-to}}
  </div>
</nav>