<EmberWormhole @to={{destinationElementId}}>
  <div class="{{wrapperClassNamesString}} {{wrapperClass}} {{componentCssClassName}}">
    <div
      class={{overlayClassNamesString}}
      onclick={{action (ignore-children onClickOverlay)}}
      tabindex="-1"
      data-emd-overlay
    >
      <EmberModalDialogPositionedContainer
        class={{containerClassNamesString}}
        @targetAttachment={{targetAttachment}}
        @target={{legacyTarget}}
      >
        <div class="modal-dialog {{sizeClass}}">
          <div class="modal-content">
            {{yield
              (
                hash
                  header=(component "modal-dialog-header")
                  body=(component "modal-dialog-body")
                  footer=(component "modal-dialog-footer")
              )
            }}
          </div>
        </div>
      </EmberModalDialogPositionedContainer>
    </div>
  </div>
</EmberWormhole>
