<AdminTitle @title="Store Hours" class="mb-5" />

<div class="mb-3">
  {{#link-to "admin.hours.new" class="btn btn-secondary"}}
    {{fa-icon "plus"}}
    New
  {{/link-to}}
</div>

<table class="table table-hover table-sm">
  <thead>
    <GridHeader as |Column|>
      <Column>Type</Column>
      <Column>Label</Column>
      <Column>Active Start Date</Column>
      <Column>Active End Date</Column>
      <Column>Lines</Column>
      <Column></Column>
    </GridHeader>
  </thead>
  <tbody>
    {{#each sortedHours as |hours index|}}
      <tr>
        <td>
          {{hours.type}}
          {{#if hours.default}}
            <span class="badge badge-info">Default</span>
          {{/if}}
        </td>
        <td>{{hours.label}}</td>
        <td>
          {{#if hours.activeStartDate}}
            {{date-format hours.activeStartDate "LL/dd/yyyy"}}
          {{/if}}
        </td>
        <td>
          {{#if hours.activeEndDate}}
            {{date-format hours.activeEndDate "LL/dd/yyyy"}}
          {{/if}}
        </td>
        <td>
          <ul class="mb-0 pl-4">
            <li>{{hours.line1}}</li>
            {{#if hours.line2}}
              <li>{{hours.line2}}</li>
            {{/if}}
            {{#if hours.line3}}
              <li>{{hours.line3}}</li>
            {{/if}}
          </ul>
        </td>
        <td>
          <div class="dropdown float-right show">
            <a
              class="btn btn-secondary btn-sm dropdown-toggle"
              href="#"
              role="button"
              id="hoursMenu{{index}}"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{fa-icon "cog"}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="hoursMenu{{index}}">
              {{#link-to "admin.hours.edit" hours.id class="dropdown-item"}}
                {{fa-icon "pencil"}}
                Edit
              {{/link-to}}
              <a class="dropdown-item {{if hours.default "disabled"}}" href="#" {{action "delete" hours}}>
                {{fa-icon "trash"}}
                Delete
              </a>
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if showDeleteModal}}
  <ModalDialog @size="large" as |Modal|>
    <Modal.header @close={{action (mut hoursToDelete) null}}>
      Delete Hours?
    </Modal.header>
    <form {{action "deleteHours" on="submit"}}>
      <Modal.body>
        {{#if errorMessage}}
          <div class="alert alert-danger">
            {{errorMessage}}
          </div>
        {{/if}}
        <p class="form-info">
          <strong>Do you really want to delete these hours?</strong>
        </p>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Type:</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" value={{hoursToDelete.type}}>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Label:</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" value={{hoursToDelete.label}}>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Active Start Date:</label>
          <div class="col-sm-9">
            <input
              type="text"
              readonly
              class="form-control-plaintext"
              value={{date-format hoursToDelete.activeStartDate "LL/dd/yyyy"}}
            >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Active End Date:</label>
          <div class="col-sm-9">
            <input
              type="text"
              readonly
              class="form-control-plaintext"
              value={{date-format hoursToDelete.activeEndDate "LL/dd/yyyy"}}
            >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Lines:</label>
          <div class="col-sm-9">
            <ul class="mb-0 pl-4">
              <li>{{hoursToDelete.line1}}</li>
              {{#if hoursToDelete.line2}}
                <li>{{hoursToDelete.line2}}</li>
              {{/if}}
              {{#if hoursToDelete.line3}}
                <li>{{hoursToDelete.line3}}</li>
              {{/if}}
            </ul>
          </div>
        </div>
      </Modal.body>
      <Modal.footer>
        <button type="button" class="btn btn-secondary" {{action (mut hoursToDelete) null}}>No</button>
        <button type="submit" class="btn btn-primary">Yes</button>
      </Modal.footer>
    </form>
  </ModalDialog>
{{/if}}

{{outlet}}
