<ModalDialog as |Modal|>
  <Modal.header>
    Delete Special?
  </Modal.header>
  <Admin::Components::AdminForm
    class="max-w-xl"
    @onSubmit={{perform this.deleteSpecial}} as |Form|
  >
    <Modal.body>
      {{#if this.errorMessage}}
        <UiAlert data-test-id="server-error" @variant="danger">
          {{this.errorMessage}}
        </UiAlert>
      {{/if}}

      <p class="mb-8">
        Do you really want to delete this special?
      </p>

      <Form.group data-test-id="title" as |Group|>
        <Group.label>Title</Group.label>
        <Group.readonly @value={{@special.title}} />
      </Form.group>

      {{#if @special.activeStartDate}}
        <Form.group data-test-id="start-date" as |Group|>
          <Group.label>Active Start Date</Group.label>
          <Group.readonly @value={{date-format @special.activeStartDate "LL/dd/yyyy"}} />
        </Form.group>

        <Form.group data-test-id="end-date" as |Group|>
          <Group.label>Active End Date</Group.label>
          <Group.readonly @value={{date-format @special.activeEndDate "LL/dd/yyyy"}} />
        </Form.group>
      {{/if}}
    </Modal.body>
    <Modal.footer>
      <Button @variant="plain" @onClick={{@onCancel}}>
        No
      </Button>
      <Form.submit class="ml-2" @disabled={{if this.deleteSpecial.isRunning true false}}>
        Yes
      </Form.submit>
    </Modal.footer>
  </Admin::Components::AdminForm>
</ModalDialog>