<Admin::Components::BackLink @route="admin.index" @text="Admin" />

<Admin::Components::Title @title="Deli Items" />

<div class="mt-8">
  <Button @href={{href-to "admin.deli-items.new"}} @icon="plus" @size="medium" @variant="plain">
    New
  </Button>
</div>

<Admin::Components::UiTable class="mt-8" as |Table|>
  <Table.head
    @currentSort={{this.currentSort}}
    @onColumnClicked={{this.sortDeliItems}} as |Thead|
  >
    <Thead.th @name="title">Title</Thead.th>
    <Thead.th @name="ingredients">Ingredients</Thead.th>
    <Thead.th></Thead.th>
  </Table.head>
  <Table.body as |Tbody|>
    {{#each this.sortedDeliItems as |item|}}
      <Tbody.tr as |Row|>
        <Row.td>{{item.title}}</Row.td>
        <Row.td>{{item.ingredients}}</Row.td>
        <Row.td>
          <div class="flex justify-end">
            <Button
              @href={{href-to "admin.deli-items.edit" item.id}}
              @iconOnly={{true}}
              @icon="pencil-alt"
              @variant="secondary"
            />

            <Button
              class="ml-1"
              @iconOnly={{true}}
              @icon="trash-alt"
              @variant="danger"
              @onClick={{fn (mut this.itemToDelete) item}}
            />
          </div>
        </Row.td>
      </Tbody.tr>
    {{else}}
      <Tbody.empty>
        No performances found.
      </Tbody.empty>
    {{/each}}
  </Table.body>
</Admin::Components::UiTable>

{{#if this.itemToDelete}}
  <Admin::DeliItems::Components::DeleteDeliItemForm
    @item={{this.itemToDelete}}
    @onSave={{fn (mut this.itemToDelete) null}}
    @onCancel={{fn (mut this.itemToDelete) null}}
  />
{{/if}}

{{outlet}}
