<div data-test-id="pagination" class="mt-8 flex justify-between items-center" ...attributes>
  <div class="flex items-center">
    <p data-test-id="results">
      {{this.totalResults}}
      {{if (eq this.totalResults 1) "Result" "Results"}}
    </p>
  </div>

  <div class="flex items-center">
    <p data-test-id="total-pages" class="mx-2">
      Page
      {{this.page}}
      of
      {{this.totalPages}}
    </p>

    <div class="ml-3">
      <Button
        data-test-id="decrement"
        @variant="plain"
        @size="medium"
        @onClick={{fn this.incrementPage -1}}
        @disabled={{eq this.page 1}}
      >
        <UiIcon @icon="chevron-left" />
      </Button>

      <Button
        data-test-id="increment"
        @variant="plain"
        @size="medium"
        @onClick={{fn this.incrementPage 1}}
        @disabled={{gte this.page this.totalPages}}
      >
        <UiIcon @icon="chevron-right" />
      </Button>
    </div>
  </div>
</div>