<ModalDialog as |Modal|>
  <Modal.header @close={{action cancelled}}>
    {{dialogTitle}}
  </Modal.header>
  <Modal.body>
    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}
    <p class="form-info">
      <strong>Note:</strong> Required fields are marked with an {{required-field}}
    </p>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="event-title">
        Title <RequiredField />
      </label>
      <div class="col-sm-9">
        <ValidatedField
          @changeset={{this.changeset}}
          @propertyName="title" as |isInvalidClass|
        >
          {{input
            class=(concat "form-control " isInvalidClass)
            id="event-title"
            value=this.changeset.title
          }}
        </ValidatedField>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="event-lead-in">
        Lead In
      </label>
      <div class="col-sm-9">
        <ValidatedField
          @changeset={{this.changeset}}
          @propertyName="leadIn" as |isInvalidClass|
        >
          {{input
            class=(concat "form-control " isInvalidClass)
            id="event-lead-in"
            value=this.changeset.leadIn
          }}
        </ValidatedField>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        Date <RequiredField />
      </label>
      <div class="col-sm-9">
        <EmberFlatpickr
          class="form-control"
          @disableMobile={{true}}
          @allowInput={{false}}
          @appendDataInput={{true}}
          @date={{readonly this.changeset.startTime}}
          @dateFormat="m/d/Y"
          @onChange={{action "dateSelected"}}
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        Start Time <RequiredField />
      </label>
      <div class="col-sm-9">
        <EmberFlatpickr
          class="form-control"
          @disableMobile={{true}}
          @date={{readonly this.changeset.startTime}}
          @enableTime={{true}}
          @noCalendar={{true}}
          @time_24hr={{false}}
          @dateFormat="h:i K"
          @onChange={{action "startTimeSelected"}}
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        End Time <RequiredField />
      </label>
      <div class="col-sm-9">
        <EmberFlatpickr
          @class="form-control"
          @disableMobile={{true}}
          @date={{readonly this.changeset.endTime}}
          @enableTime={{true}}
          @noCalendar={{true}}
          @time_24hr={{false}}
          @dateFormat="h:i K"
          @onChange={{action "endTimeSelected"}}
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="event-link">
        Link
      </label>
      <div class="col-sm-9">
        <ValidatedField
          @changeset={{this.changeset}}
          @propertyName="link" as |isInvalidClass|
        >
          {{input
            class=(concat "form-control " isInvalidClass)
            id="event-link"
            value=this.changeset.link
          }}
        </ValidatedField>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        Image
      </label>
      <div class="col-sm-9">
        <FileUpload
          @name="photos"
          @accept="image/*"
          @onfileadd={{action "uploadImage"}}
        >
          <a class="btn btn-secondary color-white" tabindex="0">
            Select Image
          </a>
        </FileUpload>

        {{#if changeset.imageUrl}}
          <button type="button" class="btn btn-secondary" {{action (mut changeset.imageUrl) null}}>
            Remove Image
          </button>
        {{/if}}

        {{#if this.fileErrorMessage}}
          <span class="text-danger">
            {{this.fileErrorMessage}}
          </span>
        {{/if}}

        <small class="form-text text-muted">
          Only JPG, JPEG, PNG, and GIF files are allowed.
        </small>

        {{#if changeset.imageUrl}}
          <img src={{changeset.imageUrl}} alt="Event image" class="w-100 d-block">
        {{/if}}
      </div>
    </div>
  </Modal.body>
  <Modal.footer>
    <button type="button" class="btn btn-secondary" {{action cancelled}}>Cancel</button>
    <TaskButton class="btn btn-primary" @task={{saveEvent}} @disabled={{saveDisabled}}>
      Save
    </TaskButton>
  </Modal.footer>
</ModalDialog>
