<Admin::Components::AdminForm class="max-w-xl" @onSubmit={{perform this.saveBundle}} as |Form|>
  {{#if this.errorMessage}}
    <UiAlert data-test-id="server-error" @variant="danger">
      {{this.errorMessage}}
    </UiAlert>
  {{/if}}

  <p class="mb-8">
    <strong>Note:</strong> Required fields are marked with an <Admin::Components::Required />
  </p>

  <Form.group data-test-id="title" @model={{this.changeset}} @property="title" as |Group|>
    <Group.label>
      Title <Admin::Components::Required />
    </Group.label>
    <Group.textbox @value={{this.changeset.title}} />
  </Form.group>

  <Form.group
    data-test-id="price"
    @model={{this.changeset}}
    @property="price" as |Group|
  >
    <Group.label>Price <Admin::Components::Required /></Group.label>
    <Group.textbox @value={{this.changeset.price}} />
  </Form.group>

  <Form.group
    data-test-id="featured"
    @model={{this.changeset}}
    @property="featured"
  >
    <label>
      <input type="checkbox" checked={{this.changeset.featured}} {{on "change" this.updateFeatured}}>
      <span class="ml-2">Is featured on home page</span>
    </label>
  </Form.group>

  <Form.group
    data-test-id="hidden"
    @model={{this.changeset}}
    @property="isHidden"
  >
    <label>
      <input type="checkbox" checked={{this.changeset.isHidden}} {{on "change" this.updateHidden}}>
      <span class="ml-2">Is hidden</span>
    </label>
    <small class="block mt-3 text-gray-700">
      When checked, this means it won't show on your site. Useful when a pandemic is occuring and you run out of meat.
    </small>
  </Form.group>

  <Form.group data-test-id="items">
    <Form.label>Items</Form.label>

    <DragSortList
      @items={{this.items}}
      @handle=".handle"
      @dragEndAction={{this.reorderItems}} as |item index|
    >
      <div data-test-id="item-{{index}}" class="{{if (gt index 0) "pt-1"}} pb-1">
        <div class="flex items-center">
          <span class="handle text-gray-600" draggable="true">☰</span>
          <UiTextbox class="ml-2" @value={{item}} @keyUp={{fn this.itemChanged index}} />
          <Button
            class="mr-1"
            @iconOnly={{true}}
            @icon="trash-alt"
            @variant="danger"
            title="Delete item"
            @onClick={{fn this.deleteItem index}}
          />
        </div>
      </div>
    </DragSortList>

    <div class="mt-2">
      <Button
        @icon="plus"
        @size="medium"
        @variant="plain"
        @onClick={{this.addItem}}
      >
        New Item
      </Button>
    </div>
  </Form.group>

  <div class="mt-8">
    {{#if this.changeset.errors}}
      <div class="mb-2 text-red-600">
        Please fix the errors above and try again.
      </div>
    {{/if}}
    <Form.submit @disabled={{this.saveDisabled}}>
      Save
    </Form.submit>
    <Button class="ml-2" @variant="plain" @onClick={{@cancelled}}>Cancel</Button>
  </div>
</Admin::Components::AdminForm>
