<th
  data-test-id="table-head-cell"
  class="font-semibold text-sm uppercase p-3 text-left"
  {{this.initColumn}}
  ...attributes
>
  {{#if @name}}
    <button
      data-test-id="table-head-link"
      type="button"
      class="font-semibold text-sm uppercase text-gray-900 focus:outline-none focus:underline"
      {{on "click" this.columnClicked}}
    >
      {{yield}}

      {{#if this.isAscending}}
        <FaIcon @icon="chevron-up" class="ml-1" />
      {{else if this.isDescending}}
        <FaIcon @icon="chevron-down" class="ml-1" />
      {{/if}}
    </button>
  {{else}}
    {{yield}}
  {{/if}}
</th>