<img src="images/{{@review.image}}" alt="Review person" class="img-circle">
<p class="review-text">"{{@review.text}}"</p>
<cite>{{@review.reviewer}}, <a href="{{@review.url}}" target="_blank"><i>{{@review.source}}</i></a></cite>
