<Admin::Components::BackLink @route="admin.index" @text="Admin" />

<Admin::Components::Title @title="Meat Bundles" />

{{! Hiding the new button until it's needed }}
{{!-- <div class="mt-8">
  <Button @href={{href-to "admin.meat-bundles.new"}} @icon="plus" @size="medium" @variant="plain">
    New
  </Button>
</div> --}}

<Admin::Components::UiTable class="mt-8" as |Table|>
  <Table.head as |Thead|>
    <Thead.th>Order</Thead.th>
    <Thead.th>Title</Thead.th>
    <Thead.th>Price</Thead.th>
    <Thead.th>Items</Thead.th>
    <Thead.th>Is Featured?</Thead.th>
    <Thead.th>Is Hidden?</Thead.th>
    <Thead.th />
  </Table.head>
  <Table.body as |Tbody|>
    {{#each (sort-by "displayOrder" this.model) as |bundle|}}
      <Tbody.tr as |Row|>
        <Row.td>{{bundle.displayOrder}}</Row.td>
        <Row.td>{{bundle.title}}</Row.td>
        <Row.td>{{bundle.price}}</Row.td>
        <Row.td>
          {{#if bundle.items}}
            {{bundle.items.length}}
            Items
          {{else}}
            0 Items
          {{/if}}
        </Row.td>
        <Row.td>
          {{#if bundle.featured}}
            <span
              class="inline-block px-2 bg-blue-200 text-blue-800 text-sm rounded"
            >Featured</span>
          {{/if}}
        </Row.td>
        <Row.td>
          {{#if bundle.isHidden}}
            <span class="inline-block px-2 bg-blue-200 text-blue-800 text-sm rounded">Hidden</span>
          {{/if}}
        </Row.td>
        <Row.td>
          <div class="flex justify-end">
            <Button
              @href={{href-to "admin.meat-bundles.edit" bundle.id}}
              @iconOnly={{true}}
              @icon="pencil-alt"
              @variant="secondary"
            />

            {{! Hiding the delete button until it's needed }}
            {{!-- <Button
              class="ml-1"
              @iconOnly={{true}}
              @icon="trash-alt"
              @variant="danger"
              @onClick={{action (mut this.bundleToDelete) bundle}}
            /> --}}
          </div>
        </Row.td>
      </Tbody.tr>
    {{else}}
      <Tbody.empty>
        No meat bundles found.
      </Tbody.empty>
    {{/each}}
  </Table.body>
</Admin::Components::UiTable>

{{outlet}}